<footer class="footer">
    <div class="container">
        <div class='row'>
            <div class='col-10'>
                <a href='{% url "about" %}' id='archive'>
                    <span>О сайте</span>
                </a>
            </div>
            <div class='col-2'>
                <a href='#' id='upbutton' onclick='smoothJumpUp(); return false;'>
                    <span>Наверх</span>
                </a>
            </div>
        </div>
        <div class='row'>
            <div class='col-12'>
                <a href="{% url 'archive' %}" id='archive'>
                    <span>Архив</span>
                </a>
            </div>
        </div>
    </div>
</footer>
