<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="{% url 'home' %}">Рецепты</a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Домой<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'best' %}">Лучшее</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'new' %}">Свежее</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Покушац
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'tags' %}?pokushatz=Суп">Супы</a>
          <a class="dropdown-item" href="{% url 'tags' %}?pokushatz=Салат">Салаты</a>
          <a class="dropdown-item" href="{% url 'tags' %}?pokushatz=Горячее блюдо">Горячие блюда</a>
          <a class="dropdown-item" href="{% url 'tags' %}?pokushatz=Холодное блюдо">Холодные блюда</a>
          <a class="dropdown-item" href="{% url 'tags' %}?pokushatz=Выпечка">Выпечка</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action="{% url 'search:index' %}" method="get">
      <input required class="form-control mr-sm-2" type="search" id="search" name="q" placeholder="Поиск" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
    </form>
  </div>
</nav>
